.container {
  display: flex;
  justify-content: center;

  width: 100%;
}

table {
  display: flex;
  flex-direction: column;

  width: 70%;
}

table thead {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 50px;

  border-radius: 10px 10px 0 0;

  background-color: #212121;
  color: #fff;
}

table thead th {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 16px;

  width: 200px;

  text-transform: uppercase;
}

table tbody tr {
  display: flex;
  justify-content: space-around;
}

table tbody tr td {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;

  padding: 5px 0;
  
  border-bottom: 1px solid rgba(58, 58, 58, 0.349);
} 

button {
  border: none;

  background-color: transparent;

  cursor: pointer;
}

button.edit:hover {
  color: green;
}

button.delete:hover {
  color: red;
}