<div class="container">
  <h1>Atualizar usuário</h1>

  <mat-divider></mat-divider>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput name="userName" formControlName="userName" [(ngModel)]="user.userName">
    </mat-form-field>

    <mat-form-field color="accent" appearance="fill">
      <mat-label>Nome da Mãe</mat-label>
      <input matInput name="mothersName" formControlName="mothersName" [(ngModel)]="user.mothersName">
    </mat-form-field>

    <div class="radio-group-container">
      <label id="radio-group-label">Gênero:</label>
      <mat-radio-group formControlName="gender" [(ngModel)]="user.gender" aria-labelledby="radio-group-label">
        <mat-radio-button value="feminino">Feminino</mat-radio-button>
        <mat-radio-button value="masculino">Masculino</mat-radio-button>
        <mat-radio-button value="outros">Outros</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="buttons">
      <button mat-raised-button class="btn" [disabled]="!userForm.valid" (click)="onSubmit()">Atualizar</button>
      <button mat-raised-button class="btn" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</div>

