.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  width: 900px;
  height: 300px;

  margin-top: 20px;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;

  text-transform: uppercase;
}

mat-divider {
  width: 400px;
}

form {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 100px 100px;
  gap: 30px;

  margin-top: 40px;
}

.radio-group-container {
  display: flex;
  flex-direction: column;
}

.radio-group-container mat-radio-group {
  display: flex;
  margin-top: 10px;
}

.radio-group-container mat-radio-group mat-radio-button {
  margin-right: 20px;
}

.btn {
  position: absolute;
  bottom: -200px;
  left: 132px;

  margin-top: 20px;
  
  background-color: #212121;
  color: #fff;
}